html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Kanit', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}